@import "../../styles/variables";
.messageFilter {
  display: flex;
  padding: 0 !important;
  flex-direction: column;
  min-height: 34.1875rem;
  position: absolute;
  z-index: 3;
  top: 80%;
  right: 0;

  .filterWrapper {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    .filterContainer {
      display: flex;
      min-width: 17.625rem;
      flex-direction: column;
      gap: 1.5rem;
      border-bottom: 0.0625rem solid $gray-300;
      border-left:0.0625rem solid $gray-300; ;

      &:last-child {
        border-left: 0.0625rem solid $gray-300;
      }

      .filterHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 0 1rem;
        box-sizing: border-box;

        .clearButton {
          font-size: 0.875rem;
          color: $primary;
          font-weight: 600;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .filters {
        display: flex;
        flex-direction: column;
        flex: 1;
        box-sizing: border-box;
        gap: 0.75rem;

        .techFilter {
          box-shadow: none !important;
          border: none !important;
          padding: 0 1rem !important;
        }

        .statusFilter {
          display: flex;
          padding: 0 1rem;
          flex-direction: column;
          gap: 1.5rem;
          .filter {
            display: flex;
            gap: 2rem;
          }
        }
        .mainFilters {
          display: flex;
          padding: 0.75rem 1rem;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
            background-color: $filterHover;
          }
        }
        .activeFilter {
          background-color: $filterHover;
        }
      }
    }
  }

  .filterFooter {
    display: flex;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 1rem;
  }
}
