@import "../../../styles/variables";
@import "../../../styles/mixins";

.optionsWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  min-width: 7.5rem;
  flex: 1;
  gap: 0.5rem;
  box-sizing: border-box;
  background-color: $white;

  .noData {
    @include flex-center-alignment;
    padding: 1rem 0.75rem;
    gap: 0.5rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .singleSelectOptions {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-200;
      border-radius: 1rem;
    }

    .option {
      font-size: 0.875rem;
      padding: 0.75rem 1rem;
      line-height: 1.3125rem;
      height: 3rem;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
        background-color: $grayBlue;
      }
    }
    .selected {
      color: $primary;
      font-weight: 600;
      background-color: $selectMessage;
      &:hover {
        background-color: $selectMessage;
      }
    }
  }
}
