@import "../../styles/variables";
@import "../../styles/media";
.messagesPage {
  display: flex;
  height: 100%;
  overflow: hidden;

  .emptyCandidateList {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .noCandidateImage {
      width: auto;
      height: auto;
      margin-bottom: 1rem;
      object-fit: contain;
    }
    .hint {
      color: $gray-500;
      text-align: center;
    }
  }

  .candidateList {
    overflow: hidden;
    width: 45%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: relative;

    .plusIcon {
      position: absolute;
      bottom: 3rem;
      right: 3.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;
      box-shadow: $inputBoxShadow;
    }

    .searchFilter {
      display: flex;
      gap: 1.25rem;
      align-items: center;
      margin-left: 3rem;
      margin: 1.5rem 1.25rem 1.25rem 3rem;

      .searchBar {
        flex: 1;
      }
      .filter {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .messageScreen {
    width: 55%;
    background-color: $secondaryTextLight;
    display: flex;
    align-items: center;
    justify-content: center;

    .messagePlaceholder {
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
}
