@import "../../styles/variables";
.navbar {
  max-height: 56px;
  height: 56px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 2rem;
  box-sizing: border-box;
  gap: 0.75rem;

  .navbarLeft {
    display: flex;
    gap: 1.5rem;
    .logo {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      .header {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    .route {
      font-family: $Montserrat;
      padding: 0.875rem 0.75rem;
      box-sizing: border-box;
      border-bottom: 0.25rem solid $white;
      font-weight: 500;
      line-height: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
    .active {
      color: $primary;
      border-bottom: 0.25rem solid $primary;
      font-weight: 600;
    }
  }

  .navbarRight {
    display: flex;
    gap: 1.5rem;
  }
  .icons {
    width: 1.75rem;
    height: 1.75rem;

    &:hover {
      cursor: pointer;
    }
  }
}
