@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media";

.navbar {
  max-height: 3.5rem;
  height: 3.5rem;
  background-color: $white;
  @include flex-space-between-alignment;
  padding: 0.875rem 2rem;
  box-sizing: border-box;
  gap: 0.75rem;

  .navbarLeft {
    display: flex;
    gap: 1.5rem;
    .logo {
      @include flex-align-center;
      gap: 0.75rem;

      &:hover {
        cursor: pointer;
      }

      .header {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    .route {
      font-family: $Montserrat;
      padding: 0.875rem 0.75rem;
      box-sizing: border-box;
      border-bottom: 0.25rem solid $white;
      font-weight: 500;
      line-height: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
    .active {
      color: $primary;
      border-bottom: 0.25rem solid $primary;
      font-weight: 600;
    }
  }

  .navbarRight {
    display: flex;
    gap: 1.5rem;
  }
  .icons {
    width: 1.75rem;
    height: 1.75rem;

    &:hover {
      cursor: pointer;
    }
  }
  .logoutModal {
    width: 21.5rem;

    .logout {
      @include flex-direction(column);
      gap: 1rem;

      .text {
        color: $gray-500;
      }
      .buttons {
        gap: 0.5rem;
        @include flex-justify-align(flex-end);
      }
    }
  }
}
.email {
  padding: 0 1rem;
  color: $gray-900;
  align-self: flex-start;

  .boldText {
    color: $primary;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
}
.profileBody {
  display: table;
  width: 100%;
  padding: 0 3rem;

  .field {
    color: $gray-900;
    display: table-row;
    .title {
      display: table-cell;
    }
    .colon {
      align-self: flex-start;
      padding-right: 1rem;
    }
    .fieldValue {
      font-weight: 600;
    }
  }
}
.logoutButton {
  width: 100%;
  margin: 0 0.25rem;
  font-weight: 700;
}
.profileFooter {
  display: flex;
  gap: 1rem;
  width: 100%;
  .footerButton {
    flex: 1;
  }
}

@media screen and (max-width: $md-max) {
  .header {
    color: $primary;
    font-size: 1rem !important;
    font-weight: 600;
  }
}
