@import "../../styles/variables";
.toggleSwitch {
  position: relative;
  width: 1.75rem;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  .toggleSwitchCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    appearance: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
  .toggleSwitchLabel {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid $disabledText;
    border-radius: 1.25rem;
    margin: 0;
  }
  .disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  .toggleSwitchInner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 1rem;
      padding: 0;
      line-height: 1rem;
      color: $white;
      box-sizing: border-box;
    }
    &:before {
      content: "";
      width: 50%;
      height: 1rem;
      box-sizing: border-box;
      text-transform: uppercase;
      padding-left: 0.125rem;
      float: left;
      background-color: $primary;
    }
  }
  .toggleSwitchInner:after {
    content: "";
    text-transform: uppercase;
    padding-right: 0.125rem;
    background-color: $disabledText;
    color: $white;
    text-align: right;
  }
  .toggleSwitchCircle {
    display: block;
    width: 0.75rem;
    margin: 0.125rem;
    background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.75rem;
    border: 0 solid $disabledText;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;
  }
  .toggleSwitchCheckbox:checked + .toggleSwitchLabel {
    .toggleSwitchInner {
      margin-left: 0;
    }
    .toggleSwitchCircle {
      right: 0;
    }
  }
}
