@import "../../styles/variables";
@import "../../styles/mixins";

@mixin checkbox-common($width, $height, $top, $left) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}

.checkbox {
  @include flex-align-center;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.25rem;
    &:before {
      border: 0.125rem solid $primary;
      border-radius: 0.25rem;
      background-color: $white;
      @include checkbox-common(0.875rem, 0.875rem, -0.05rem, -0.05rem);
    }
    &:checked {
      &:before {
        border: 0.125rem solid $primary;
      }
      &:after {
        border: solid $primary;
        border-width: 0 0.125rem 0.125rem 0;
        transform: rotate(45deg);
        @include checkbox-common(0.25rem, 0.5rem, 0.125rem, 0.325rem);
      }
    }

    &:disabled {
      border: 0.125rem solid $gray-300;
    }
  }
  .checkboxLabel {
    color: inherit;
    flex: 1;
    cursor: pointer;
    font-size: 0.875rem;
    padding-left: 0.75rem;
  }
}
