@import "../../../styles/variables";
@import "../../../styles/mixins";

.techStacks {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  .searchBox {
    display: flex;
    width: 432px;
    margin-left: 1.5rem;
  }
  .customHeaderStyle {
    background-color: $tableHeader;
  }
  .errorMessage {
    @include flex-center-alignment;
    font-size: 1rem;
    border: 0.125rem solid $error;
    width: fit-content;
    align-self: center;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
  }
  .table {
    width: 100%;
    background-color: $white;
    border-collapse: collapse;
  }
  .scroll {
    max-height: 33rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    margin: 1.5rem;
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-track {
      background: $white;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondaryText;
      border-radius: 1rem;
    }
    &::-webkit-scrollbar-track-piece:end {
      margin-bottom: 0.5rem;
    }
  }
  .customRowStyling:hover {
    background-color: $tableHover;
  }
}
