@import "../../../styles/variables";
@import "../../../styles/mixins";

.chatBottom {
  @include flex-align-center;
  padding: 1.25rem 2rem;
  box-sizing: border-box;
  gap: 0.75rem;
  position: relative;
  .icon {
    width: 1.75rem;
    height: 1.75rem;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    filter: invert(43%) sepia(72%) saturate(2642%) hue-rotate(199deg)
      brightness(86%) contrast(92%);
  }
  .input {
    height: 2.5rem;
    padding: 0.875rem 0.75rem !important;
    box-shadow: none;
  }
  .fileName {
    width: 10rem;
  }

  .skeletonIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .skeletonBox {
    height: 3rem;
  }
}
