@import "../../styles/variables";
.buttonGroupWrapper {
  display: flex;
  border: $inputBoxBorder;
  border-radius: 0.5rem;
  width: fit-content;

  .activeButton {
    background-color: $primary;
    color: $white;
    border-radius: 0;
    border: none;
  }
  .buttons {
    border: none;
    border-radius: 0;

    &:not(:first-child):not(:last-child) {
      border-right: $inputBoxBorder;
    }

    &:first-child {
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-right: $inputBoxBorder;
    }

    &:last-child {
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
}
.vertical {
  flex-direction: column;
  .activeButton {
    border-right: none;
  }
  .buttons {
    &:not(:first-child):not(:last-child) {
      border-right: none;
      border-bottom: $inputBoxBorder;
    }

    &:first-child {
      border-right: none;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom: $inputBoxBorder;
    }

    &:last-child {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
