@import "../../styles/variables";
@import "../../styles/mixins";

.inputOuter {
  @include flex-direction(column);
  gap: 0.25rem;
}

.disabled {
  box-shadow: none !important;
  color: $disabledButtonColor !important;
  border: $inputBoxBorder !important;
  cursor: not-allowed !important;
  background-color: $listHoverColor !important;
}

.inputWrapper {
  @include flex-center-alignment;
  max-height: 3rem;
  flex: 1;
  border: $inputBoxBorder;
  box-shadow: $inputBoxShadow;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: $white;

  .startIcon {
    padding-right: 0.5rem;
  }

  .inputField {
    display: flex;
    flex: 1;
    font-family: $Roboto;
    background-color: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 0;
    border: none;
    resize: none;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: $listHoverColor;
      color: $disabledButtonColor;
      cursor: not-allowed !important;
    }
  }

  .endIcon:hover {
    cursor: pointer;
  }
}

.focus {
  border: 0.0625rem solid $primary;
  box-shadow: $inputBoxShadow;
}
