@import "../../styles/mixins";
@import "../../styles/variables";
.tableCell {
  @include flex-justify-align(flex-start, flex-start);
  flex-direction: column;
}
.designation {
  color: $primaryText;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  font-size: 0.875rem;
  height: 1.25rem;
  line-height: 1.225rem;
}
