@import "../../../styles/variables";
@import "../../../styles/mixins";
.list {
  @include flex-direction(column);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-300;
    border-radius: 0.25rem;
  }
}
.listSkeleton {
  @include flex-direction(column);
  overflow: hidden;
  gap: 1.25rem;
  padding: 0 2.5rem;
  .userSkeleton {
    display: flex;
    gap: 1rem;
    .contentSkeleton {
      @include flex-direction(column, 1);
      gap: 0.5rem;
      padding: 0.5rem;
      justify-content: space-around;
      .skeletonBox {
        flex: 1;
        border-radius: 0.25rem;
      }
    }
  }
}
