@import "../../styles/mixins";
@import "../../styles/variables";

.emptyStateContainer {
  @include flex-direction(column);
  @include flex-center-alignment;
}

.notFoundImage {
  width: auto;
  height: auto;
}
.title {
  color: $primaryTextDark;
  margin-top: 1rem;
}
.subTitle {
  color: $secondaryTextLight;
  margin-top: 0.125rem;
}
