@import "../../styles/mixins";
@import "../../styles/variables";

.emptyStateContainer {
  @include flex-direction(column);
  @include flex-center-alignment;
  height: 100%;
}

.notFoundImage {
  width: auto;
  height: auto;
}
.title {
  color: $primaryTextDark;
  margin-top: 1rem;
}
.subTitle {
  color: $secondaryText;
  margin-top: 0.125rem;
  text-align: center;
  max-width: 51rem;
}
