@import "../../styles/variables";
@import "../../styles/mixins";
.scroll {
  height: 43.75rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin: 1.5rem;
  &::-webkit-scrollbar {
    width: 0.313rem;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d0d5dd;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 0.625rem;
  }
  &::-webkit-scrollbar-track-piece:start {
    margin-top: 0.625rem;
  }
}

.rc-table {
  table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
  }
  thead {
    height: 52px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    padding: 0.5rem 0.75rem;
    padding: 8px 12px;
    gap: 8px;
  }
  th {
    padding: 8px 12px;
  }

  tbody {
    width: auto;
    height: 513px;
  }
  tr {
    height: 60px;
    padding: 8px 12px;
    border-bottom: 1px solid #f3f3f3;
  }
  td {
    padding: 8px 12px 8px 12px;
    height: 60px;
  }
}
.header {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px 0px;
  gap: 10px;
  .title {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 20.3px;
    color: #09172b;
    height: 20px;
    letter-spacing: 0.5px;
    font-family: "Roboto";
  }
  .sortIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .descendingicon {
      cursor: pointer;
    }

    .ascendingicon {
      cursor: pointer;
    }
  }
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  .designation {
    color: $primaryText;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.875rem;
    height: 1.25rem;
    line-height: 1.225rem;
  }
}
