@import "../../../styles/variables";
.candidateCard {
  display: flex;
  background-color: $white;
  gap: 1.5rem;
  padding: 1rem 1rem 1rem 3rem;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 0.03125rem solid $secondaryTextLight;
  max-height: 5.5rem;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: $selectMessage;
  }
  .profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $primaryButtonHover;
  }
  .candidateDetail {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    overflow: hidden;
    .nameTime {
      display: flex;
      justify-content: space-between;
      .name {
        font-size: 0.875rem;
        font-weight: 500;
        color: $gray-900;
      }
      .time {
        color: $gray-500;
      }
    }
    .message {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .messageText {
        color: $gray-500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
      }

      .unread {
        color: $gray-500;
        flex: 1;
      }
      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $primaryButtonHover;
        color: $white;
        font-size: 0.75rem;
      }
    }
  }
}
.selected {
  background-color: $selectedContentBackground;

  &:hover {
    background-color: $selectedContentBackground;
  }
}
