@import "../../../styles/variables";
@import "../../../styles/mixins.scss";
.messageFilter {
  @include flex-direction(column);
  padding: 0 !important;
  min-height: 34.1875rem;

  .filterWrapper {
    @include flex-direction(row,1);
    .filterContainer {
     @include flex-direction(column);
      min-width: 17.625rem;
      gap: 1.5rem;
      border-bottom: 0.0625rem solid $gray-300;

      &:last-child {
        border-left: 0.0625rem solid $gray-300;
      }

      .filterHeader {
        @include flex-space-between-alignment;
        padding: 1rem 1rem 0 1rem;
        box-sizing: border-box;

        .clearButton {
          font-size: 0.875rem;
          color: $primary;
          font-weight: 600;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .filters {
        @include flex-direction(column,1);
        box-sizing: border-box;
        gap: 0.75rem;

        .techFilter {
          box-shadow: none !important;
          border: none !important;
          padding: 0 1rem !important;
        }

        .statusFilter {
          @include flex-direction(column);
          padding: 0 1rem;
          gap: 1.5rem;
          .filter {
            display: flex;
            gap: 2rem;
          }
        }
        .mainFilters {
          padding: 0.75rem 1rem;
          @include flex-justify-align(space-between);

          &:hover {
            cursor: pointer;
            background-color: $filterHover;
          }
        }
        .activeFilter {
          background-color: $filterHover;
        }
      }
    }
  }

  .filterFooter {
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    @include flex-justify-align(flex-end);
    box-sizing: border-box;
    gap: 1rem;
  }
}
