@import "../../styles/variables";
.confirmationModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 !important;
  width: 21.5rem;

  .title {
    font-weight: 600;
    font-family: $Montserrat;
  }
  .description {
    color: $gray-500;
  }
  .modalButtons {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    justify-content: flex-end;
  }
}
