@import "../../styles/variables";

.tag {
  padding: 0.375rem 0.75rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #777777;
  width: fit-content;
  letter-spacing: 0.25px;
}
.active {
  background-color: $primary;
  color: $white;
  border: none;
}
