@import "../../styles/variables";
@import "../../styles/mixins.scss";
.tag {
  padding: 0.375rem 0.75rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 1rem;
  @include flex-center-alignment;
  border: 0.063rem solid $tagBorderColor;
  width: fit-content;
  letter-spacing:0.016rem;
  &:hover {
    cursor: pointer;
  }
  .tagText {
    width: 100%;
  }
}
.active {
  background-color: $primary;
  color: $white;
  border: 0.063rem solid $primary;
}
