$primary: #2c74d6;
$primaryDark: #1c3b96;
$primaryLight: #eef7fe;
$secondary: #f4f8ff;
$white: #ffffff;
$primaryButtonHover: #2444a4;
$selectMessage: #deebfe;
$disabledText: #777777;
$primaryTextDark: #09172b;
$primaryText: #2e2f30;
$disabledText: #8c8c8c;
$secondaryTextLight: #d1d1d1;
$grayLight: #f3f3f3;
$secondaryText: #545454;
$success: #04bfa4;
$warning: #f39b17;
$error: #dc362e;
$loginSectionBackground: #f1f1f1;
$selectedContentBackground: #c8deff;
$sentMessageBackground: #d9d9d9;
$formBorder: #d1d6df;
$blue: #09172b;
$beige: #e8e8e8;
$lightBlack:#091432;
$scrollBar:#BBBBBB;
$cardBackground: linear-gradient(
  180deg,
  rgba(238, 247, 254, 0) 0%,
  $primaryLight 100%
);
$filterHover: #ebeded;
$placeholderText: #555555;
$tagBorderColor: #777777;
$secondaryButton: #e4eaf2;
$shimmerBackground: #d2dbe2;
$listHoverColor: #f9fafc;
$disabledButtonColor: #dddddd;
$secondaryButtonBackground: #e4eaf2;
$buttonPressedBackground: #cbd8fe;
$modalBackdropBackground: rgba(52, 64, 84, 0.7);
$shimmerAnimationBackground: linear-gradient(
  100deg,
  rgba(255, 255, 255, 0) 20%,
  rgba(255, 255, 255, 0.3) 50%,
  rgba(255, 255, 255, 0) 80%
);

$gray-900: #101828;
$gray-700: #344054;
$gray-500: #667085;
$gray-300: #d0d5dd;
$gray-200: #eaecf0;
$gray-100: #f3f3f3;
$tableHeader: #dddddd;
$tableHover: #d5e3f7;
$scrollbar: #d0d5dd;
$tagBorderColor:#777777;
$searchIconHeader:#879195;
$searchText: #555555;

$Montserrat: "Montserrat";
$Roboto: "Roboto";

$headerLarge: 2rem;
$headerSemiBoldMedium: 1.25rem;
$headerRegular: 1rem;
$textLarge: 1rem;
$textMedium: 0.875rem;
$textSmall: 0.75rem;

$modalBoxShadow: 0 0.1875rem 0.375rem rgba(16, 24, 40, 0.16);
$inputBoxShadow: 0 0.0625rem 0.125rem rgba(16, 24, 40, 0.05),
  0 0 0 0.25rem #eef7fe;
$buttonHoverShadow: 0 0 0.375rem rgba(16, 24, 40, 0.25);
$boxShadow: 0 0.0625rem 0.125rem rgba(16, 24, 40, 0.05), 0 0 0 0.25rem #dfdfdf;
$cardBoxShadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
$hoverCardDropShadow: drop-shadow(0 0.25rem 0.375rem rgba(16, 24, 40, 0.25))
  drop-shadow(0 0.75rem 0.375rem rgba(16, 24, 40, 0.08));

$cardBorder: 0.0625rem solid $gray-200;
$border: 0.0625rem solid $gray-300;
$inputBoxBorder: 0.0625rem solid #879195;
