@import "./variables";
@import "./mixins.scss";
@import "./mixins.scss";
.components {
  @include flex-direction(flex, column);
  gap: 1rem;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
}
.profileLoader {
  display: flex;
  gap: 1rem;
  width: 100%;
  .content {
    @include flex-direction(column, 1);
    @include flex-justify-align(center);
    gap: 0.5rem;
  }
}
.searchableSelect {
  max-height: none;
  overflow: overlay;
}
