@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-alignment {
  @include flex-align-center;
  justify-content: center;
}
@mixin flex-space-between-alignment {
  @include flex-align-center;
  justify-content: space-between;
}
@mixin flex-direction($direction, $flex: auto) {
  display: flex;
  flex-direction: $direction;
  flex: $flex;
}
@mixin flex-justify-align($justify: flex-start, $align: auto) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
