@import "../../../styles/variables";
@import "../../../styles/mixins.scss";

.chatHeader {
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  @include flex-space-between-alignment;

  .profile {
    @include flex-align-center;
    gap: 1.5rem;
    .image {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }
  }
  .detail {
    @include flex-direction(column);
    .hint {
      color: $gray-500;
    }
    .status {
      color: $primary;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
  .detailSkeleton {
    width: 25rem;
    @include flex-direction(column);
    gap: 0.5rem;
    .skeletonText {
      height: 1rem;
    }
  }
}
