@import "../../styles/variables";
.tipContainer {
  position: relative;
  width: fit-content;
  height: fit-content;

  :nth-child(1) {
    z-index: 1;
  }
  :nth-child(2) {
    z-index: 2;
  }

  .left {
    position: absolute;
    width: 1.5675rem;
    height: 1.375rem;
    left: -0.25rem;
    top: -0.125rem;
    border-radius: 0.0625rem;
    transform: rotate(120deg) matrix(0.42, 0.91, -0.62, 0.78, 0, 0);
  }
  .right {
    position: absolute;
    width: 1.5675rem;
    height: 1.375rem;
    right: -0.25rem;
    top: -0.125rem;
    border-radius: 0.0625rem;
    transform: rotate(35deg) matrix(0.42, 0.91, -0.62, 0.78, 0, 0);
  }
  .sent {
    background-color: $selectMessage;
  }
  .received {
    background-color: $white;
  }
}
